// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trhead {
  background-color: green;
  width: 500px;
  padding: 10px;
  font-size: 20px;
}
.trdetail {
   background-color: magenta;
   width: 500px;
  padding: 10px;
  font-size: 20px;
}
.sku {
  background-color: magenta;
  width: 500px;
  padding: 10px;
  font-size: 20px;
  }
.description {
  background-color: yellow;
  width: 500px;
  padding: 10px;
  font-size: 20px;
  }
.price {
  background-color: green; 
  width: 500px;
  padding: 10px;
  font-size: 30px;
  }
